body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

/* Additional styles for correction of template: */

main a i {
	margin-right: 0.5em;
}

.main-icon {
	font-size: 2rem;

	margin-left: 0.25rem;
	margin-right: 0.75rem;

	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
}
